
extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: theme.category.show_count })
  - var tagsList = list_tags({ show_count: theme.tag.show_count })
  - var archivesList = list_archives({ show_count: theme.archive.show_count , type: (theme.archive.monthly ? 'monthly' : 'yearly') , format: (theme.archive.format ? theme.archive.format : 'YYYY MMMM') })

  .main_column.page
    main
      +page_info(page, "archive", true)
      article.archive#main
        if !is_year()
          each item in theme.archive.show
            case item
              when 'archive'
                include includes/archive/archive.pug
              when 'category'
                include includes/archive/category.pug
              when 'tag'
                include includes/archive/tag.pug

        else

          if global_back_btn
            include includes/global_back_btn.pug

          //- h1= ' '+page.month + '/' + page.year + (theme.archive.show_total ? ' - ' + page.posts.length : "")
          h1= ' '+page.month + '/' + page.year

          - page.posts.each(function(article){
              +post_item(article)
          - })

          include includes/page_switch.pug
