extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: theme.category.show_count })

  .main_column.page
    main
      +page_info(page, "page", false)
      article.archive#main

        if is_category(page.category)

          if global_back_btn
            include includes/global_back_btn.pug

          h1= ' '+page.category + (theme.category.show_total ? (' - ' + (site.categories.findOne({name: page.category}).length)) : '')
          - page.posts.each(function(article){
              +post_item(article)
          - })
          include includes/page_switch.pug

        else

          if !(theme.category.after_content)
            != page.content
          include includes/archive/category.pug
          if theme.category.after_content
            != page.content