extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: theme.category.show_count })

  .main_column.page
    if theme.custom.ui.page.cover_style != 'banner'
      if theme.archive.cover
        .page_info(nocover=false)
          .page_cover
            img.header_img(src=url_for(theme.archive.cover) alt='banner')
    article.page.archive#main
      if !(theme.category.after_content)
        != page.content
      include includes/archive/category.pug
      if theme.category.after_content
        != page.content
  //- .category
  //-   h1= page.category
  //-   - page.posts.each(function(article){
  //-     .category-item
  //-       a(href=url_for(article.path))= article.title
  //-       time(datetime=date_xml(article.date))= date(article.date)
  //-   - })
  //- #paginator!= paginator()
  include includes/page_switch.pug
