@font-face {
  font-family: UbuntuMono
  src:url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.eot'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.otf') format('opentype');
}

:root
  font-family: UbuntuMono, "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif
  // 用于修复页面加载瞬间的排版错乱
  font-size: 16px

body
  margin 0

@import '_var'
@import "_layout/*"

// 页面主要部分的自适应
@media screen and (min-width: $max-width - 200px){
  div#content-outer{
    width $header-min-width
    margin auto
  }
}

a
  // 清除所有 a 标签下划线
  text-decoration none
  // 自定义链接颜色
  color var(--main-color)

// 选中颜色
::selection
  background var(--main-color)
  color var(--selection-text-color)

// 页面主要部分与上方间隔
#content-outer
  if hexo-config('custom.ui.post.cover_style') != 'banner'
    padding-top 60px

// hr
hr
  border-top 4px dashed var(--main-color)

// 滚动条
::-webkit-scrollbar
  // background #8881
  height 14px
  width 14px
::-webkit-scrollbar-thumb
  background #0002
::-webkit-scrollbar-thumb:hover
  background #0004
  