@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/font/noto-sans-sc/noto-sans-sc-chinese-simplified-400-normal.woff2') format('woff2'), url('/font/noto-sans-sc/noto-sans-sc-chinese-simplified-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/font/ubuntu-mono/ubuntu-mono-all-400-normal.woff') format('woff');
}

:root
  font-family: "Ubuntu Mono", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif
  font-size: 14px

// 自定义背景
body
  min-height 100vh
  margin 0
  position relative
  background var(--body-color)
  color var(--text-color-r)
  word-break break-word
  display flex
  justify-content space-between
  align-items stretch
  flex-direction column
  overflow-y auto
  overflow-y overlay
  scroll-behavior smooth
if hexo-config("background.type")
  .bg
    width 100vw
    z-index -1
    if (hexo-config("background.type") == "img") && hexo-config("background.img.bg")
      background convert(hexo-config("background.img.bg"))
      background-position center
      if !hexo-config("background.img.repeat")
        background-size cover
        background-repeat no-repeat
      if !hexo-config("background.img.scroll")
        position fixed
        height 100vh
        top 0
      else
        height 100%
        position absolute
      opacity hexo-config("background.img.opacity") ? convert(hexo-config("background.img.opacity")) : 1
      filter blur( hexo-config("background.img.blur") ? convert(hexo-config("background.img.blur")) : 0px )

@import '_var'
@import '_animation'
@import "_layout/*"
// @import "_third-party/*"

a
  // 清除所有 a 标签下划线
  text-decoration none
  // 自定义链接颜色
  color var(--main-color)

// 选中颜色
::selection
  background var(--main-color)
  color var(--text-color)
#content-outer
  flex 1
#content-inner
  margin auto
  transition .2s
  max-width $max-width - 200px
  if hexo-config("sidebar.enable") && hexo-config("sidebar.items")
    display flex
    flex-direction row
    gap $block-margin
    -webkit-box-flex 1
    -moz-box-flex 1
    box-flex 1
.main_column
  if hexo-config("sidebar.enable") && hexo-config("sidebar.items")
    --width_main_column $main_content_margin*2 + 300px + $block-margin
    max-width $max-width - $block-margin*2 - 500px
    width calc(100vw - var(--width_main_column))
  transition .05s ease-in-out
.side_column
  width 300px
  margin-bottom $block-margin

// 页面主要部分与上方间隔
[where="page"]
[where="post"]
  #content-inner
    padding $navbar_height $main_content_margin $block-margin $main_content_margin
[where="home"] #content-inner
  padding 0 $main_content_margin $block-margin $main_content_margin
// hr
hr
  border 2px dashed var(--main-color)

// 滚动条
::-webkit-scrollbar
  height 8px
  width 8px
::-webkit-scrollbar-thumb
  background alpha($main_color 60%)
  border-radius $border-radius
// ::-webkit-scrollbar-track
//   background var(--main-color-bgh)
::-webkit-scrollbar-thumb:hover
  background var(--main-color)

// 换行（全局可用）
.line_warp_h
  display block
  height 4px

// 自适应
@media screen and (max-width: 1000px)
  .main_column
    --width_main_column $main_content_margin*2 + 240px + $block-margin
  .side_column
  .sidebar_items
    width 240px
  .header_info
    margin auto auto auto 60px
    .site_big_title
      .title
        font-size $index_big_title_font_size*0.9
      .subtitle
        font-size $index_subtitle_font_size*0.9
@media screen and (min-width: 841px)
  nav#mblNavbar
  .navbar_inner.mbl
    display none
@media screen and (max-width: 840px)
  #content-inner
    flex-direction column
  .side_column
  .sidebar_items
  .main_column
    width 100%
  .navbar_inner.pc
    display none
  .header_info
    .site_big_title
      .title
        font-size $index_big_title_font_size*0.8
      .subtitle
        font-size $index_subtitle_font_size*0.8
@media screen and (max-width: 600px)
  #content-inner
    .recent-post-item
      flex-direction column
      height max-content
      .post_cover.side
        width 100%
        max-width 100%
        border-radius $border-radius $border-radius 0 0
        height 200px
        flex unset
      .post_info
        height max-content
        flex unset
        margin 0
  nav.page_switch
    .post_switch
      flex-direction column
  .header_info
    margin auto auto auto $main_content_margin
    .site_big_title
      .title
        font-size $index_big_title_font_size*0.6
      .subtitle
        font-size $index_subtitle_font_size*0.6

[prefers-color-scheme="dark"]
  img
    filter brightness(0.9)