@import '_var'
@import "_layout/*"

body
  margin 0
  // background rgba(240, 61, 61, 0.1)
  background-image: url(https://api.dujin.org/bing/1920.php); // 用于测试

@media screen and (min-width: $max-width - 200px){
  div#content-outer{
    width $header-min-width
    margin auto
  }
}

a
  text-decoration none

#content-outer
  if hexo-config('custom.ui.post.cover_style') != 'banner'
    padding-top 60px

@font-face {
  font-family: UbuntuMono
  src:url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.eot'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/JonnyJong/blogStaticResource@main/fonts/UbuntuMono-R.otf') format('opentype');
}

:root
  font-family: UbuntuMono, "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif