if hexo-config('vendor_prefix')
  @import 'nib'

:root
  font-size 14px

@import '_var'

body
  margin 0
  color var(--font-main)
  if hexo-config('navbar.pc_items') || hexo-config('navbar.mobile_items')
    padding-top hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px

@import '_animation'
@import "_layout/*"