if hexo-config('vendor_prefix')
  @import 'nib'

:root
  font-size 14px

@import '_var'
@import '_mixin'

body
  margin 0
  color var(--font-main)
  if hexo-config('navbar.pc_items') || hexo-config('navbar.mobile_items')
    padding-top hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px

*
  box-sizing border-box

main
  max-width $max_width
  margin $margin auto
  padding 0 $min_margin

a
  if hexo-config("link_underline")
    text-decoration 1px underline
  else
    text-decoration none
  color var(--color-accent)
  &:hover
    color var(--color-hover)
  &:active
    color var(--color-active)

@import '_animation'
@import "_layout/*"