if hexo-config('vendor_prefix')
  @import 'nib'

:root
  font-size 14px

@import '_var'

body
  margin 0
  color var(--font-main)
  if hexo-config('navbar.pc_items') || hexo-config('navbar.mobile_items')
    padding-top hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px

*
  box-sizing border-box

main
  max-width $max_width
  margin auto $min_margin

a
  if hexo-config("index_posts.info_style")
    text-decoration 1px underline
  else
    text-decoration none
  text-decoration 1px underline

@import '_animation'
@import "_layout/*"