case theme.color_mode
  when "auto"
    script.
      if (localStorage.getItem("color_mode")==null){
        if(matchMedia('(prefers-color-scheme: dark)').matches){document.documentElement.setAttribute("prefers-color-scheme","dark");}
        localStorage.setItem("color_mode", "dark")
      }else{
        document.documentElement.setAttribute("prefers-color-scheme",localStorage.getItem("color_mode"));
      }
  when "time"
    script.
      if (localStorage.getItem("color_mode")==null){
        const now = new Date();
        if(now.getHours<6||now.getHours>17) {document.documentElement.setAttribute("prefers-color-scheme","dark");}
        localStorage.setItem("color_mode", "dark")
      }else{
        document.documentElement.setAttribute("prefers-color-scheme",localStorage.getItem("color_mode"));
      }
  default
    script.
      if (localStorage.getItem("color_mode")==null){
        localStorage.setItem("color_mode", document.documentElement.getAttribute("prefers-color-scheme"))
      }else{
        document.documentElement.setAttribute("prefers-color-scheme",localStorage.getItem("color_mode"));
      }