- let icon_pin = 'fa fa-thumb-tack'
- let icon_date = 'fa fa-calendar'
- let icon_updated = 'fa fa-history'
- let icon_wordcount = 'fa fa-file-text-o'
- let icon_minutes = 'fa fa-clock-o'
- let icon_categories = 'fa fa-folder-open-o'
- let icon_tag = 'fa fa-tag'
- let icon_tags = 'fa fa-tags'
- let icon_next = 'fa fa-chevron-right'
- let icon_prev = 'fa fa-chevron-left'
- let icon_close = 'fa fa-times'