//- 图标 icons
- var icon_date = theme.icons.date?theme.icons.date:"fas fa-pencil-alt fa-fw"
- var icon_updated = theme.icons.updated?theme.icons.updated:"fas fa-history fa-fw"
- var icon_read = theme.icons.read?theme.icons.read:"fas fa-eye fa-fw"
- var icon_categorie = theme.icons.categorie?theme.icons.categorie:"fas fa-folder fa-fw"
- var icon_tag = theme.icons.tag?theme.icons.tag:"fas fa-tag fa-fw"
- var icon_tags = theme.icons.tags?theme.icons.tags:"fas fa-tags fa-fw"
- var icon_wordcount = theme.icons.wordcount?theme.icons.wordcount:"fas fa-file-alt fa-fw"
- var icon_pin = theme.icons.pin?theme.icons.pin:"fas fa-thumb-tack fa-fw"
- var icon_back = theme.icons.back?theme.icons.back:"fas fa-chevron-left fa-fw"
- var icon_prev_post = theme.icons.prev_post?theme.icons.prev_post:"fas fa-chevron-left fa-fw"
- var icon_next_post = theme.icons.next_post?theme.icons.next_post:"fas fa-chevron-right fa-fw"
- var icon_menu = theme.icons.menu?theme.icons.menu:"fas fa-bars fa-fw"
- var icon_sub_menu = theme.icons.sub_menu?theme.icons.sub_menu:"fas fa-chevron-right fa-fw"
- var icon_close = theme.icons.close_btn?theme.icons.close_btn:"fa fa-times fa-fw"
- var icon_link = theme.icons.link?theme.icons.link:"fa fa-link fa-fw"
- var icon_search = theme.icons.search?theme.icons.search:"fa fa-search fa-fw"