//- - var icon_date = theme.icons.date?theme.icons.date:"fas fa-pencil-alt fa-fw"
- var icon_search = theme.icons.search?theme.icons.search:"fa fa-search fa-fw"
- var icon_close = theme.icons.close_btn?theme.icons.close_btn:"fa fa-times fa-fw"

//- icons
//-   date
//-   updated
//-   read
//-   categorie
//-   tag
//-   tags
//-   wordcount
//-   pin
//-   back
//-   prev_post
//-   next_post
//-   nav_menu
//-   nav_side_btn
//-   nav_side_close_btn
//-   link