article.archive
  .tag-list
    margin 0
    padding 0
    .tag-list-item
      display inline-block
      margin 8px
      max-width 100%
      a.tag-list-link
        display inline-flex
        border-radius $border-radius
        transition 0.1s
        border 3px solid alpha($main_color 0%)
        background var(--main-color-bgh)
        color var(--text-color-r)
        padding 6px
        line-height 20px
        max-width 100%
        align-items center
      a.tag-list-link:before
        content '\f02b'
        font-family: "Font Awesome 5 Free"
        font-weight 900
        margin-right 4px
      a.tag-list-link:hover
        text-decoration none
        color var(--main-color)
        font-weight bold
        border 3px solid $main_color
  .category-list
    padding 0
    margin 0 16px
    height max-content
    max-width 100%
    ul
      margin 0
      padding 0
    li
      display inline-block
      vertical-align top
      margin 8px
      background saturation(alpha($main_color 10%) 75%)
    a
      padding 8px
      display inline-block
      color var(--text-color-r)
      transition 0.1s
    a:hover
      color $main_color
      transform scale(1.05)
      text-decoration none
    a:before
      content "\f07c"
      font-family: "Font Awesome 5 Free"
      font-weight 900
      margin-right 4px
  .archive-list
    border-left 4px solid var(--main-color)
    margin 16px
    padding-left 13px
    li
      list-style-type none
      line-height 36px
    li:before
      position absolute
      width 10px
      height 10px
      border 4px solid var(--main-color)
      background white
      border-radius 50%
      content ''
      transform translateX(-24px) translateY(9px)
    a
      line-height 36px
      display inline-block
      padding-right 16px
      color var(--text-color-r)
      transition .1s
    a:hover
      text-decoration none
      color var(--main-color)
      font-size 18px
[prefers-color-scheme="dark"]
  article.archive .archive-list li:before
    background black