article
  background var(--bg)
  padding $padding
  border-radius $radius
  backdrop-filter var(--backdrop)
  if hexo-config("page.paragraph_title_readability")
    if hexo-config("page.after_seo_paraTitleReadly")
      h2:before
        content 'H1'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h3:before
        content 'H2'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h4:before
        content 'H3'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h5:before
        content 'H4'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h6:before
        content 'H5'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
    else
      h1:before
        content 'H1'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h2:before
        content 'H2'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h3:before
        content 'H3'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h4:before
        content 'H4'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h5:before
        content 'H5'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
      h6:before
        content 'H6'
        color var(--color-main)
        margin-right .5ch
        font-weight normal
  img
    max-width hexo-config("page.img_max_width") ? convert(hexo-config("page.img_max_width")) : 100%
    max-height hexo-config("page.img_max_height") ? convert(hexo-config("page.img_max_height")) : 80vh
    if hexo-config("page.img_centered")
      margin auto
      display block