.main_column.f_link
  .f_link_block
    margin-bottom 16px
  .grp_info
    display block
    i.grp_icon
      font-size 24px
      display inline-block
      width 24px
      line-height 30px
      height 24px
      margin-right 8px
    .grp_name
      display inline-block
      margin-bottom 0
      height 42px
    .grp_name::before
      display none
    .grp_warp_line
      display block
      width 100%
      height 2px
      background var(--text-color-ro)
    .grp_d
      font-size 18px
      line-height 25px
      color var(--text-color-rf)
      display block
      height 25px

  .grp_items
    display flex
    width 100%
    flex-wrap wrap
    align-items center
    justify-content space-between
    .item
      display inline-flexbox
      margin-top 8px
      margin-right 8px
      a
        display block
        width 280px
        min-height 90px
        height max-content
        border-radius $border-radius
        transition .1s
        border 2px solid var(--main-color)
        img.item_avatar
          display inline-block
          height 70px
          margin 10px
          if hexo-config('link.avatar_radius') == "round"
            border-radius 90px
          else if hexo-config('link.avatar_radius') == "auto"
            border-radius $border-radius
        .item_info
          display inline-block
          vertical-align top
          color var(--text-color-r)
          .item_name
            font-size 22px
            margin 18px 0 8px 0
            height 28px
            transition .1s
          .item_d
            font-size 15px
            margin 0 10px 14px 0
            max-width 180px
            transition .1s
      a:hover
        background var(--main-color-bgh)
        img.item_avatar
          animation f_link_img .5s ease-in-out
        .item_name
          font-size 28px
        .item_name
        .item_d
          color var(--main-color)
    .item.cst_color
      a
        border 2px solid var(--item-main-color)
      a:hover
        background var(--item-main-color-ha)
        .item_name
        .item_d
          color var(--item-main-color)