footer
  margin-top $block-margin
  padding $block-padding
  position relative
  // bottom 0px
  // height 5rem
  text-align center
  // line-height 5rem
  // overflow hidden
  background-color var(--main-color)

footer a
  color black