footer
  padding $block-padding
  text-align center
  line-height 1.2
  if hexo-config('footer.background.color') == 'main'
    background-color var(--main-color)
  else if hexo-config('footer.background.color') == 'auto'
    background-color var(--bg-color)
  else if hexo-config('footer.background.color')
    background convert(hexo-config('footer.background.color'))
  if hexo-config('footer.background.border_top')
    box-sizing border-box
    border-top 1px solid var(--text-color-ro)
  a
    color var(--text-color-r)