footer
  padding $block-padding
  position absolute
  text-align center
  background-color var(--main-color)
  width calc(100% - 32px)
  bottom 0px
  // 这一项有可能引发问题，需注意
  height 96px

footer a
  color black

.before_footer
  clear both