if hexo-config("back_buttom")
  a.global_back_btn
    display block
    cursor pointer
    line-height 46px
    width max-content
    transition .2s
    border-radius $border-radius
    i
      margin 0 16px
    span
      margin-right 16px
  article a.global_back_btn:hover
  a.global_back_btn:hover
    text-decoration none
    background var(--main-color-bgh)
    i
      animation back_btn_i .5s ease