header
  margin-top hexo-config("navbar.height") ? convert(hexo-config("navbar.height")) * -1 - 10px: -70px
  if hexo-config("index_banner.enable")
    &.index
      height hexo-config("index_banner.height") ? convert(hexo-config("index_banner.height")) : 100vh
      position relative
      if hexo-config("index_banner.background")
        background convert(hexo-config("index_banner.background"))
      .banner
        position absolute
        height 100%
        width 100%
        object-fit cover
      if hexo-config("index_banner.filter_color")
        &:after
          content ''
          position absolute
          display block
          height 100%
          width 100%
          background convert(hexo-config("index_banner.filter_color"))
          top 0
      .info
        position relative
        height 100%
        display flex
        flex-direction column
        justify-content center
        color hexo-config("index_banner.font_color") ? convert(hexo-config("index_banner.font_color")) : var(--font-invert)
        text-shadow hexo-config("index_banner.font_shadow") ? convert(hexo-config("index_banner.font_shadow")) : 0 0 20px #000
        max-width $max_width
        margin $margin auto
        padding 0 $min_margin
        z-index 1
        if hexo-config("index_banner.text_align")
          text-align convert(hexo-config("index_banner.text_align"))
        .title
          font-weight hexo-config("index_banner.title_font_weight") ? convert(hexo-config("index_banner.title_font_weight")) : bold
          if hexo-config("index_banner.title_font_size") == 'large'
            font-size 100px
          else if hexo-config("index_banner.title_font_size") == 'big'
            font-size 60px
          else
            font-size 40px
        .subtitle
          if hexo-config("index_banner.subtitle_font_weight")
            font-weight convert(hexo-config("index_banner.subtitle_font_weight"))
          if hexo-config("index_banner.subtitle_font_size") == 'large'
            font-size 40px
          else if hexo-config("index_banner.subtitle_font_size") == 'big'
            font-size 20px
        .social-links
          display flex
          flex-wrap wrap
          .item
            position relative
            text-decoration none
            color hexo-config("index_banner.font_color") ? convert(hexo-config("index_banner.font_color")) : var(--font-invert)
  if hexo-config("page.info_style") == 'banner' || !hexo-config("page.info_style")
    &.post
      position relative
      min-height hexo-config("page.banner.min_height") ? convert(hexo-config("page.banner.min_height")) : 400px
      overflow hidden
      display flex
      flex-direction column
      padding-top hexo-config("navbar.height") ? convert(hexo-config("navbar.height")) : 60px
      if hexo-config("page.banner.info_position") == 'bottom'
        justify-content flex-end
      else if hexo-config("page.banner.info_position") != 'center'
        justify-content center
      .cover
        position absolute
        height 100%
        width 100%
        object-fit cover
        top 0px
      >.info
        position relative
        display flex
        gap 8px
        flex-direction column
        height 100%
        padding $padding
        if hexo-config("page.banner.info_align") == 'right'
          align-items flex-end
        else if hexo-config("page.banner.info_position") != 'center'
          align-items center
        color var(--font-invert)
        post-info()