// 整体
$banner_height = hexo-config('custom.index_banner_height') ? convert(hexo-config('custom.index_banner_height')) : 100vh
.header
  height $banner_height
  position relative
  if hexo-config('custom.ui.navbar.downside')
    if hexo-config('custom.ui.navbar.move_to_top')
      margin-top -60px
      transform: translate(0px, 60px);
    else
      margin-top -60px
      transform: translate(0px, 60px);
      margin-bottom 60px
div.header_img
  background hexo-config('custom.index_banner_img') ? convert(hexo-config('custom.index_banner_img')) : var(--main-color)
  // height 100%
  // width 100%
  background-position center center
  background-size cover
  if hexo-config('custom.index_banner_img_parallax')
    background-attachment fixed

//banner 图
.header .header_img
  overflow hidden
  position relative
  height 100%
  width 100%
  top 0px
  // z-index -1
.header .header_img img
  height 100%
  width 100%
  object-fit cover
  // background-color: var(--main-color)

// 导航栏
.navbar
  // 基本
  width hexo-config('custom.ui.navbar.outer_width') ? convert(hexo-config('custom.ui.navbar.outer_width')) : 100%
  max-width hexo-config('custom.ui.navbar.outer_max_width') ? convert(hexo-config('custom.ui.navbar.outer_max_width')) : 100%
  height $navbar_height
  color var(--text-color-r)
  user-select none
  // text-shadow: 0px 0px 4px var(--shadow-color)
  background rgba(255,255,255,$navbar-opacity)
  if hexo-config('custom.ui.navbar.blur') != 0
    backdrop-filter: saturate(180%) blur($navbar-blur)
  box-shadow var(--b-shadow-lite)
  border-radius hexo-config('custom.ui.navbar.border_radius') ? convert(hexo-config('custom.ui.navbar.border_radius')) : 0px
  z-index 100
  position fixed
  if hexo-config('custom.ui.navbar.top') != 'none'
    top hexo-config('custom.ui.navbar.top') ? convert(hexo-config('custom.ui.navbar.top')) : 0px
  if hexo-config('custom.ui.navbar.bottom') != 'none'
    bottom hexo-config('custom.ui.navbar.bottom') ? convert(hexo-config('custom.ui.navbar.bottom')) : 0px
.navbar_inner
  display flex
  height 100%
  width hexo-config('custom.ui.navbar.inner_width') ? convert(hexo-config('custom.ui.navbar.inner_width')) : 90%
  max-width hexo-config('custom.ui.navbar.inner_max_width') ? convert(hexo-config('custom.ui.navbar.inner_max_width')) : 100%
  margin auto

.nav_item_outer
  height 100%
  margin 0 hexo-config('custom.ui.navbar.item_distance') ? convert(hexo-config('custom.ui.navbar.item_distance')) : 0px
  position relative
  transition all 0.1s
.nav_item_inner
  display flex
  align-items center
  height 100%
  padding 0 hexo-config('custom.ui.navbar.item_inside_distance') ? convert(hexo-config('custom.ui.navbar.item_inside_distance')) : 8px

.navbar img
  height $navbar_height*0.6
.navbar a
  color var(--text-color-r)
.navbar i
  margin-right 4px
.navbar i.ho_rotate_90
  transition all 0.1s
  margin 0 0 0 4px
.navbar .fakeA
  cursor pointer
  display unset
.navbar .site_title
  font-size 26px
  font-weight bold
.navbar .placeholder
  flex auto
.navbar .placeholder:hover
.nav_item_outer.noLink:hover
  background none
.nav_item_outer.noLink
  background none
.nav_item_outer.noLink span
  cursor default

.nav_sub_menu
  position absolute
  display none
  max-width max-content
  background #fff
  box-shadow var(--b-shadow-lite)
  top $navbar_height
  right 0
  animation nav_sub_menu .2s ease
  border-radius hexo-config('custom.ui.navbar.sub_menu_border_radius') ? convert(hexo-config('custom.ui.navbar.sub_menu_border_radius')) : 8px
.nav_sub_item
  width 100%
  min-width max-content
.nav_sub_item:hover
  background var(--main-color-bgh)
.nav_sub_item a
  display block
  height 48px
  display flex
  align-items center
  padding 0 16px
.nav_item_outer:hover
  background var(--main-color-bgh)
  .nav_sub_menu
    display block
  .ho_rotate_90
    transform: rotate(90deg)
    
@keyframes nav_sub_menu
  0%
    opacity: 0
    transform: translateY(-10px)
  100%
    opacity: 1
    transform: translateY(0)

// 大标题
div.header_info
  height 100%
  position relative

@media screen and (min-width: $max-width){
  .header div.header_info{
    width $header-min-width
    margin auto
  }
}

@media screen and (max-width: $max-width){
  .header div.header_info{
    margin auto auto auto 100px
  }
}

div.header_info div.site_big_title
  position relative
  top 40%
  width max-content

div.header_info div.site_big_title span.title
  font-size 96px
  font-weight bold
  color #fffe
  text-shadow: 0 0 24px #000d
div.header_info div.site_big_title span.subtitle
  font-size 2rem
  color #fffe
  text-shadow: 0 0 8px #000d