.index_items
  .item
    background var(--bg-color)
    margin-top $block-margin
    padding $block-padding
    border-radius $border-radius
    transition .5s
    .item_info
      text-align center
      font-size 16px
      margin-bottom 16px
      i
        margin-right 4px
      .title
        font-weight bold
  .item:hover
    box-shadow var(--b-shadow)
  .item.text
    img
      max-width 100%
      margin 0 auto 16px auto
    .content
      text-align center
  .item.video
    iframe, video
      margin 0 auto
      display block
      max-width 100%
      width 600px
      border-radius $border-radius
    iframe
      min-height 300px
  .item.recommend
    .posts
      display flex
      flex-wrap wrap
      gap $block-margin
      border-radius $border-radius
    .post
      width calc(50% - var(--block-margin)/2)
      display flex
      position relative
      color #eee
      min-height 120px
      background #111e
      flex-direction column
      border-radius $border-radius
      overflow hidden
      transition .2s
      @media screen and (max-width: 600px)
        width 100%
      .bar
        height 40px
        z-index 1
        display flex
        align-items center
        justify-content flex-end
        background #0008
        padding 0 8px
        span, i
          margin 4px
      .post_info
        position relative
        z-index 1
        flex 1
        padding $block-padding
        .post_title
          font-size 18px
        .tags
          a
            color #eee
            display inline-block
            border 1px #eee solid
            border-radius $border-radius
            padding 2px 4px
            margin 2px 4px
            transition .1s
            line-height 18px
          a:hover
            color #111
            background #eee
      img
        width 100%
        height 100%
        object-fit cover
        position absolute
        top 0
        $index_item_r_saturate = hexo-config('index_items.recommend_img_saturate')?convert(hexo-config('index_items.recommend_img_saturate')):120%
        $index_item_r_blur = hexo-config('index_items.recommend_img_blur')?convert(hexo-config('index_items.recommend_img_blur')):5px
        filter saturate($index_item_r_saturate) blur($index_item_r_blur)
        transform scale(1.1)
    .post:hover
      box-shadow var(--b-shadow-m)
      .bar
        span, i
          animation index_item_go_to ease .5s
  .item.tags
    .tags
      display flex
      gap $block-margin
      flex-wrap wrap
      justify-content center
    .tag
      display inline-block
      position relative
      background #8882
      border-radius $border-radius
      overflow hidden
      transition .2s
      .tag_info
        position relative
        z-index 1
        display flex
        color var(--text-color-r)
        align-items center
        padding 8px
        gap 8px
        transition .2s
        i.go_to
          flex 1
          text-align right
          margin-left 16px
          transition .2s
      img
        width 100%
        height 100%
        object-fit cover
        position absolute
        top 0
        opacity .2
    .tag:hover
      box-shadow var(--b-shadow-lite)
      background var(--bg-contrast)
      .tag_info
        padding 8px 16px
        color var(--text-color)
        i.go_to
          animation index_item_go_to ease .5s .2s infinite
          margin-left 0px
  .item.categories
    .categories
      display flex
      gap $block-margin
      flex-wrap wrap
    .cate
      display block
      position relative
      border-radius $border-radius
      background #8882
      transition .2s
      .cate_info
        position relative
        z-index 1
        color var(--text-color-r)
        display flex
        align-items center
        gap 8px
        padding 16px 8px
        transition .2s
        i.go_to
          flex 1
          text-align right
          margin-left 16px
          transition .2s
      img
        width 100%
        height 100%
        object-fit cover
        position absolute
        top 0
        opacity .2
    .cate:hover
      box-shadow var(--b-shadow-lite)
      background var(--bg-contrast)
      .cate_info
        padding 16px
        color var(--text-color)
        i.go_to
          animation index_item_go_to ease .5s .2s infinite
          margin-left 0px
  .item.say
    display flex
    align-items center
    gap 16px
    .contents
      position relative
      .content
        opacity 0
        font-size 0
        position relative
      .content.in
        font-size 15px
        opacity 1
        animation index_item_says_in ease .2s