nav
  height hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px
  width hexo-config("navbar.outer_width")?convert(hexo-config("navbar.outer_width")):100%
  max-width hexo-config("navbar.outer_max_width")?convert(hexo-config("navbar.outer_max_width")):100%
  position fixed
  if hexo-config("navbar.filter")
    filter convert(hexo-config("navbar.filter"))
  if hexo-config("navbar.bottom")
    bottom convert(hexo-config("navbar.bottom"))
  else
    top hexo-config("navbar.top")?convert(hexo-config("navbar.top")):0
  margin 0 auto
  if hexo-config("navbar.position")=='left'
    left 0
  else if hexo-config("navbar.position")=='right'
    right 0
  else
    left 0
    right 0
  // if hexo-config("navbar.scroll_event.transition")
  //   transition convert(hexo-config("navbar.scroll_event.transition"))
  transition .2s
  if hexo-config("navbar.border")
    border convert(hexo-config("navbar.border"))
  if hexo-config("navbar.shadow")
    box-shadow convert(hexo-config("navbar.shadow"))
  if hexo-config("navbar.background") == 'main'
    color var(--font-with-main)
  .pc
  .mobile
    position relative
    width hexo-config("navbar.inner_width")?convert(hexo-config("navbar.inner_width")):100%
    max-width hexo-config("navbar.inner_max_width")?convert(hexo-config("navbar.inner_max_width")):100%
    display flex
    align-items center
    height 100%
    if hexo-config("navbar.item_distance")
      gap convert(hexo-config("navbar.item_distance"))
    if hexo-config("navbar.item_padding")
      >*:not(.hr,.flexbox)
        padding 0 convert(hexo-config("navbar.item_padding"))
  img
    // 图像限制
    if hexo-config("navbar.image_size_limit_type") == 'height'
      height hexo-config("navbar.image_size")?convert(hexo-config("navbar.image_size")):60%
    else
      max-height hexo-config("navbar.image_size")?convert(hexo-config("navbar.image_size")):60%
  .site
    display flex
    align-items center
    gap 4px
    color var(--font-main)
    height 100%
    font-size hexo-config("navbar.type_site_font_size")?convert(hexo-config("navbar.type_site_font_size")):18px
    text-decoration none
  .image
    height 100%
    position relative
    width max-content
    >*
      position relative
      top 50%
      transform translate(0,-50%)
    .hover
    .active
      opacity 0
      position absolute
      pointer-events none
      left 0
      right 0
      margin auto
      transition var(--duration)
  .image:hover
    .normal
      opacity 0
    .hover
      opacity 1
  .image:active
    .normal
      opacity 0
    .active
      opacity 1
  .text
    color var(--font-main)
    text-decoration none
  .statistics
    display flex
    align-items center
    gap 8px
    .item
      display flex
      flex-direction column
      align-items center
      text-decoration none
      .value
        font-size hexo-config("navbar.type_statistics.value_size")?convert(hexo-config("navbar.type_statistics.value_size")):16px
        color var(--font-main)
      .info
        font-size hexo-config("navbar.type_statistics.title_size")?convert(hexo-config("navbar.type_statistics.title_size")):14px
        color #444 //**
        display flex
        align-items center
        gap 2px
  .menu
    position relative
    height 100%
    display flex
    align-items center
    .menuHeader
      color var(--font-main)
      text-decoration none
      display flex
      align-items center
      gap 4px
      height max-content
      .arrow
        transition .1s
    .submenu
      pointer-events none
      position absolute
      display flex
      flex-direction column
      width max-content
      opacity 0
      top 90%
      transition .2s
      right 0
      if hexo-config("navbar.type_menu.submenu_filter")
        filter convert(hexo-config("navbar.type_menu.submenu_filter"))
      if hexo-config("navbar.type_menu.submenu_border_radius")
        border-radius convert(hexo-config("navbar.type_menu.submenu_border_radius"))
      if hexo-config("navbar.type_menu.submenu_padding")
        padding 0 convert(hexo-config("navbar.type_menu.submenu_padding"))
      if hexo-config("navbar.type_menu.submenu_item_distance")
        gap convert(hexo-config("navbar.type_menu.submenu_item_distance"))
      if hexo-config("navbar.type_menu.submenu_shadow")
        box-shadow convert(hexo-config("navbar.type_menu.submenu_shadow"))
      if hexo-config("navbar.type_menu.submenu_border")
        border convert(hexo-config("navbar.type_menu.submenu_border"))
      >*
        position relative
        if hexo-config("navbar.type_menu.submenu_item_padding")
          padding convert(hexo-config("navbar.type_menu.submenu_item_padding"))
      &.left
        left 0
      &.center
        left 0
        margin auto
      &:before
        content ''
        position absolute
        display block
        width 100%
        height 100%
        top 0
        left 0
        // if hexo-config("navbar.type_menu.submenu_background")
        background #fff8 //**
        if hexo-config("navbar.type_menu.submenu_backdrop_filter")
          backdrop-filter convert(hexo-config("navbar.type_menu.submenu_backdrop_filter"))
        if hexo-config("navbar.type_menu.submenu_border_radius")
          border-radius convert(hexo-config("navbar.type_menu.submenu_border_radius"))
    &:hover
      .menuHeader
        .arrow
          transform rotate(90deg)
      .submenu
        pointer-events all
        opacity 1
        top 100%
  .rolling_switch
    display flex
    flex-direction column
    align-items center
    .itemA
    .itemB
      transform translate(0, 50%)
      transition .1s
    .itemB
      opacity 0
  .page_title
    position relative
    min-width 8ch //*
    .hover
      opacity 0
      position absolute
      pointer-events none
      top 0
      left 0
      right 0
      margin auto
  .page_title:hover
    .normal
      opacity 0
    .hover
      opacity 1
  .hr
    height 60%
    width 1px
    background #888
    if hexo-config("navbar.item_padding")
      margin 0 convert(hexo-config("navbar.item_padding"))
  .flexbox
    flex auto
  .author
    position relative
    height 100%
    display flex
    align-items center
    .authorHeader
      display flex
      align-items center
      gap 4px
      color var(--font-main)
      text-decoration none
      img
        if hexo-config("navbar.type_author.avatar_border_radius")
          border-radius convert(hexo-config("navbar.type_author.avatar_border_radius"))
        if hexo-config("navbar.type_author.avatar_border")
          border convert(hexo-config("navbar.type_author.avatar_border"))
        height hexo-config("navbar.type_author.avatar_height") ? convert(hexo-config("navbar.type_author.avatar_height")) : 36px
        width hexo-config("navbar.type_author.avatar_width") ? convert(hexo-config("navbar.type_author.avatar_width")) : 36px
      .name
        font-size hexo-config("navbar.type_author.name_font_size") ? convert(hexo-config("navbar.type_author.name_font_size")) : 16px
        font-weight hexo-config("navbar.type_author.name_font_weight") ? convert(hexo-config("navbar.type_author.name_font_weight")) : normal
    .authorPanel
      position absolute
      pointer-events none
      opacity 0
      right 0
      top 100%
      width hexo-config("navbar.type_author.panel_width") ? convert(hexo-config("navbar.type_author.panel_width")) : 350px
      max-width 100vw
      background hexo-config("navbar.type_author.panel_background") ? convert(hexo-config("navbar.type_author.panel_background")) : #fff
      if hexo-config("navbar.type_author.panel_filter")
        filter convert(hexo-config("navbar.type_author.panel_filter"))
      if hexo-config("navbar.type_author.panel_backdrop_filter")
        backdrop-filter convert(hexo-config("navbar.type_author.panel_backdrop_filter"))
      if hexo-config("navbar.type_author.panel_border")
        border convert(hexo-config("navbar.type_author.panel_border"))
      if hexo-config("navbar.type_author.panel_shadow")
        box-shadow convert(hexo-config("navbar.type_author.panel_shadow"))
      if hexo-config("navbar.type_author.panel_border_radius")
        border-radius convert(hexo-config("navbar.type_author.panel_border_radius"))
      overflow hidden
      transition .2s ease-in-out
      // dev ***
      height 0px
      width hexo-config("navbar.type_author.panel_width") ? convert(hexo-config("navbar.type_author.panel_width"))-20px : 330px
      opacity .5
      .panelHeader
        .headerBg
          height hexo-config("navbar.type_author.background_height") ? convert(hexo-config("navbar.type_author.background_height")) : 150px
          width 100%
          object-fit cover
        .headerInfo
          display flex
          flex-wrap wrap
          align-items center
          gap 4px
          padding 16px
          .avatar
            if hexo-config("navbar.type_author.panel_avatar_border_radius")
              border-radius convert(hexo-config("navbar.type_author.panel_avatar_border_radius"))
            if hexo-config("navbar.type_author.panel_avatar_border")
              border convert(hexo-config("navbar.type_author.panel_avatar_border"))
            height hexo-config("navbar.type_author.panel_avatar_height") ? convert(hexo-config("navbar.type_author.panel_avatar_height")) : 48px
            width hexo-config("navbar.type_author.panel_avatar_width") ? convert(hexo-config("navbar.type_author.panel_avatar_width")) : 48px
          .name
            font-size hexo-config("navbar.type_author.panel_name_font_size") ? convert(hexo-config("navbar.type_author.panel_name_font_size")) : 16px
            font-weight hexo-config("navbar.type_author.panel_name_font_weight") ? convert(hexo-config("navbar.type_author.panel_name_font_weight")) : bold
            color var(--font-main)
            text-decoration none
          .description
            width 100%
            padding-left 48px + 4px
      .statistics
        justify-content space-around
        flex-wrap wrap
        padding 0 16px 16px 16px
      &.center
        left 50%
        transform translateX(-50%)
      &.right
        left 0
      &.column
        .headerInfo
          flex-direction column
          .description
            width auto
            padding 0
      &.half_overlap
        .headerBg
          margin-bottom hexo-config("navbar.type_author.avatar_height") ? convert(hexo-config("navbar.type_author.avatar_height"))*-1 : -48px
      &.half_overlap:not(.column)
        .headerInfo
          align-items flex-start
          .description
            margin-top -20px
      &.overlap
        .panelHeader
          display flex
          min-height hexo-config("navbar.type_author.background_height") ? convert(hexo-config("navbar.type_author.background_height")) : 150px
          height max-content
          position relative
          align-items flex-end
          .headerBg
            position absolute
            top 0
            height 100%
            max-height 100%
          .headerInfo
            width 100%
            position relative
        .statistics
          padding 16px
  .author:hover .authorPanel
    pointer-events all
    opacity 1
    // dev ***
    height var(--scroll-height,max-content)
    width hexo-config("navbar.type_author.panel_width") ? convert(hexo-config("navbar.type_author.panel_width")) : 350px
  &:before
    content ''
    display block
    position absolute
    width 100%
    height 100%
    if hexo-config("navbar.background") == 'main'
      background var(--color-main)
    else if hexo-config("navbar.background")
      background convert(hexo-config("navbar.background"))
    else
      background var(--bg-nav)
    if hexo-config("navbar.backdrop_filter")
      backdrop-filter convert(hexo-config("navbar.backdrop_filter"))
    if hexo-config("navbar.border_radius")
      border-radius convert(hexo-config("navbar.border_radius"))
    transition .2s

  &.min
    if hexo-config("navbar.scroll_event.height")
      height convert(hexo-config("navbar.scroll_event.height"))
    if hexo-config("navbar.scroll_event.outer_width")
      width convert(hexo-config("navbar.scroll_event.outer_width"))
    if hexo-config("navbar.scroll_event.outer_max_width")
      max-width convert(hexo-config("navbar.scroll_event.outer_max_width"))
    if hexo-config("navbar.scroll_event.filter")
      filter convert(hexo-config("navbar.scroll_event.filter"))
    if hexo-config("navbar.scroll_event.shadow")
      box-shadow convert(hexo-config("navbar.scroll_event.shadow"))
    if hexo-config("navbar.scroll_event.border")
      border convert(hexo-config("navbar.scroll_event.border"))
    if hexo-config("navbar.scroll_event.border_radius")
      border-radius convert(hexo-config("navbar.scroll_event.border_radius"))
    if hexo-config("navbar.scroll_event.background") == 'main'
      color var(--font-with-main)
    if hexo-config("navbar.scroll_event.top")
      top convert(hexo-config("navbar.scroll_event.top"))
    if hexo-config("navbar.scroll_event.bottom")
      bottom convert(hexo-config("navbar.scroll_event.bottom"))
    .rolling_switch
      .itemA
      .itemB
        transform translate(0, -50%)
      .itemA
        opacity 0
      .itemB
        opacity 1
    &:before
      if hexo-config("navbar.scroll_event.background") == 'main'
        background var(--color-main)
      else if hexo-config("navbar.scroll_event.background")
        background convert(hexo-config("navbar.scroll_event.background"))
      else
        background var(--bg-nav)
      if hexo-config("navbar.scroll_event.backdrop_filter")
        backdrop-filter convert(hexo-config("navbar.scroll_event.backdrop_filter"))
      if hexo-config("navbar.scroll_event.border_radius")
        border-radius convert(hexo-config("navbar.scroll_event.border_radius"))

  &.min.down
    if hexo-config("navbar.scroll_event.auto_hide")
      if hexo-config("navbar.bottom")
        bottom hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px
      else
        top hexo-config("navbar.height")?convert(hexo-config("navbar.height"))*-1:-60px