nav
  height hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px
  width hexo-config("navbar.outer_width")?convert(hexo-config("navbar.outer_width")):100%
  max-width hexo-config("navbar.outer_max_width")?convert(hexo-config("navbar.outer_max_width")):100%
  position fixed
  if hexo-config("navbar.filter")
    filter convert(hexo-config("navbar.filter"))
  if hexo-config("navbar.bottom")
    bottom convert(hexo-config("navbar.bottom"))
  else
    top hexo-config("navbar.top")?convert(hexo-config("navbar.top")):0
  margin 0 auto
  if hexo-config("navbar.position")=='left'
    left 0
  else if hexo-config("navbar.position")=='right'
    right 0
  else
    left 0
    right 0
  .pc
  .mobile
    position relative
    width hexo-config("navbar.inner_width")?convert(hexo-config("navbar.inner_width")):100%
    max-width hexo-config("navbar.inner_max_width")?convert(hexo-config("navbar.inner_max_width")):100%
    display flex
    align-items center
    height 100%
    if hexo-config("navbar.item_distance")
      gap convert(hexo-config("navbar.item_distance"))
    if hexo-config("navbar.item_padding")
      >*:not(.hr,.flexbox)
        padding 0 convert(hexo-config("navbar.item_padding"))
  img
    // 图像限制
    if hexo-config("navbar.image_size_limit_type") == 'height'
      height hexo-config("navbar.image_size")?convert(hexo-config("navbar.image_size")):60%
    else
      max-height hexo-config("navbar.image_size")?convert(hexo-config("navbar.image_size")):60%
  .site
    display flex
    align-items center
    gap 4px
    color var(--font-main)
    height 100%
    font-size hexo-config("navbar.site_font_size")?convert(hexo-config("navbar.site_font_size")):18px
    text-decoration none
  .image
    height 100%
    position relative
    width max-content
    >*
      position relative
      top 50%
      transform translate(0,-50%)
    .hover
    .active
      opacity 0
      position absolute
      pointer-events none
      left 0
      right 0
      margin auto
      transition var(--duration)
  .image:hover
    .normal
      opacity 0
    .hover
      opacity 1
  .image:active
    .normal
      opacity 0
    .active
      opacity 1
  .text
    color var(--font-main)
    text-decoration none
  .statistics
    display flex
    align-items center
    gap 8px
    .item
      display flex
      flex-direction column
      align-items center
      text-decoration none
      .value
        font-size 16px //**
        color var(--font-main)
      .info
        font-size 14px //**
        color #444 //**
        display flex
        align-items center
        gap 2px
  .menu
    position relative
    height 100%
    display flex
    align-items center
    .menuHeader
      color var(--font-main)
      text-decoration none
      display flex
      align-items center
      gap 2px
      height max-content
    .submenu
      pointer-events none
      position absolute
      display flex
      flex-direction column
      width max-content
      opacity 0
      top hexo-config("navbar.height")?convert(hexo-config("navbar.height"))-5px:55px //** 待定
      transition .2s
      if hexo-config("navbar.type_menu.submenu_filter")
        filter convert(hexo-config("navbar.type_menu.submenu_filter"))
      if hexo-config("navbar.type_menu.submenu_border_radius")
        border-radius convert(hexo-config("navbar.type_menu.submenu_border_radius"))
      if hexo-config("navbar.type_menu.submenu_padding")
        padding 0 convert(hexo-config("navbar.type_menu.submenu_padding"))
      if hexo-config("navbar.type_menu.submenu_item_distance")
        gap convert(hexo-config("navbar.type_menu.submenu_item_distance"))
      if hexo-config("navbar.type_menu.submenu_shadow")
        box-shadow convert(hexo-config("navbar.type_menu.submenu_shadow"))
      >*
        position relative
        if hexo-config("navbar.type_menu.submenu_item_padding")
          padding convert(hexo-config("navbar.type_menu.submenu_item_padding"))
    .submenu:before
      content ''
      position absolute
      display block
      width 100%
      height 100%
      top 0
      left 0
      // if hexo-config("navbar.type_menu.submenu_background")
      background #fff8 //**
      if hexo-config("navbar.type_menu.submenu_backdrop_filter")
        backdrop-filter convert(hexo-config("navbar.type_menu.submenu_backdrop_filter"))
      if hexo-config("navbar.type_menu.submenu_border_radius")
        border-radius convert(hexo-config("navbar.type_menu.submenu_border_radius"))
    // 暂定方法
    >.menuHeader:hover
      height 100% //** 待定
    >.menuHeader:hover+.submenu
    .submenu:hover
      pointer-events all
      opacity 1
      top hexo-config("navbar.height")?convert(hexo-config("navbar.height")):60px //** 待定
  .rolling_switch
    display flex
    flex-direction column
    align-items center
    .itemA
    .itemB
      transform translate(0, 50%)
      transition .1s
    .itemB
      opacity 0
  // for test
  .rolling_switch:hover
    .itemA
    .itemB
      transform translate(0, -50%)
    .itemA
      opacity 0
    .itemB
      opacity 1
  .page_title
    position relative
    min-width 8ch //*
    .hover
      opacity 0
      position absolute
      pointer-events none
      top 0
      left 0
      right 0
      margin auto
  .page_title:hover
    .normal
      opacity 0
    .hover
      opacity 1
  .hr
    height 60%
    width 1px
    background #888
    if hexo-config("navbar.item_padding")
      margin 0 convert(hexo-config("navbar.item_padding"))
  .flexbox
    flex auto
  .author
    position relative
    .authorHeader
      display flex
      align-items center
      gap 4px
      color var(--font-main)
      text-decoration none
      img
        height 36px //**
    .authorPanel
      position absolute
      pointer-events none
      opacity 0
      right 0
      width hexo-config("navbar.type_author.panel_width") ? convert(hexo-config("navbar.type_author.panel_width")) : 350px
      max-width 100vw
      background #fff1
      if hexo-config("navbar.type_author.panel_filter")
        filter convert(hexo-config("navbar.type_author.panel_filter"))
      if hexo-config("navbar.type_author.panel_backdrop_filter")
        backdrop-filter convert(hexo-config("navbar.type_author.panel_backdrop_filter"))
      if hexo-config("navbar.type_author.panel_border")
        border convert(hexo-config("navbar.type_author.panel_border"))
      if hexo-config("navbar.type_author.panel_shadow")
        box-shadow convert(hexo-config("navbar.type_author.panel_shadow"))
      if hexo-config("navbar.type_author.panel_border_radius")
        border-radius convert(hexo-config("navbar.type_author.panel_border_radius"))
      overflow hidden
      transition .2s ease-in-out
      // dev ***
      height 0px
      width 330px
      opacity .5
      .panelHeader
        .headerBg
          height hexo-config("navbar.type_author.background_height") ? convert(hexo-config("navbar.type_author.background_height")) : 150px
          width 100%
          object-fit cover
        .headerInfo
          display flex
          flex-wrap wrap
          align-items center
          gap 4px
          padding 16px
          .avatar
            if hexo-config("navbar.type_author.avatar_border_radius")
              border-radius convert(hexo-config("navbar.type_author.avatar_border_radius"))
            if hexo-config("navbar.type_author.avatar_border")
              border convert(hexo-config("navbar.type_author.avatar_border"))
            height hexo-config("navbar.type_author.avatar_height") ? convert(hexo-config("navbar.type_author.avatar_height")) : 48px
            width hexo-config("navbar.type_author.avatar_width") ? convert(hexo-config("navbar.type_author.avatar_width")) : 48px
          .name
            font-size hexo-config("navbar.type_author.name_font_size") ? convert(hexo-config("navbar.type_author.name_font_size")) : 16px
            font-weight hexo-config("navbar.type_author.name_font_weight") ? convert(hexo-config("navbar.type_author.name_font_weight")) : bold
            color var(--font-main)
            text-decoration none
          .description
            width 100%
            padding-left 48px + 4px
      .statistics
        justify-content space-around
        flex-wrap wrap
        padding 0 16px 16px 16px
    .authorPanel.center
      transform translateX(50%)
    .authorPanel.right
      left 0
    .authorPanel.column
      .headerInfo
        flex-direction column
        .description
          width auto
          padding 0
    .authorPanel.half_overlap
      .headerBg
        margin-bottom hexo-config("navbar.type_author.avatar_height") ? convert(hexo-config("navbar.type_author.avatar_height"))*-1 : -48px
    .authorPanel.half_overlap:not(.column)
      .headerInfo
        align-items flex-start
        .description
          margin-top -20px
    .authorPanel.overlap
      .panelHeader
        display flex
        min-height hexo-config("navbar.type_author.background_height") ? convert(hexo-config("navbar.type_author.background_height")) : 150px
        height max-content
        position relative
        align-items flex-end
        .headerBg
          position absolute
          top 0
          height 100%
          max-height 100%
        .headerInfo
          width 100%
          position relative
      .statistics
        padding 16px
    .authorHeader:hover+.authorPanel
    .authorPanel:hover
      pointer-events all
      opacity 1
      // dev ***
      height 222px
      width 350px
nav:before
  content ''
  display block
  position absolute
  width 100%
  height 100%
  background var(--bg-nav)
  background #eeee
  if hexo-config("navbar.backdrop_filter")
    backdrop-filter convert(hexo-config("navbar.backdrop_filter"))
  if hexo-config("navbar.border_radius")
    border-radius convert(hexo-config("navbar.border_radius"))