.main_column.page
  margin-top $block-margin
  article
    padding $block-padding
  main
    background-color var(--bg-color)
    box-shadow var(--b-shadow-lite)
    if hexo-config('custom.global-blur') != 0
      backdrop-filter: saturate(180%) blur($global-blur)
    border-radius $border-radius
    transition all 0.5s
  main:hover
    box-shadow var(--b-shadow)
  .page_info
    position relative
    .page_cover
      width 100%
      height 320px
      overflow hidden
      border-radius $border-radius $border-radius 0 0
      position relative
      background-color var(--main-color)
      img
        height 100%
        width 100%
        object-fit cover
    .page_info_oncover_positon_fix
      width 100%
      position absolute
      top 0px
    .page_info_oncover
      position absolute
      padding $block-margin + $block-padding
      width 100%
      bottom 0px
      box-sizing border-box
      if hexo-config('custom.ui.page.incard_info_bg') == 'block'
        $info-oncover-opacity = hexo-config('custom.ui.page.incard_info_bg_block.opacity') ? convert(hexo-config('custom.ui.page.incard_info_bg_block.opacity')) : .2
        $info-oncover-blur = hexo-config('custom.ui.page.incard_info_bg_block.blur') ? convert(hexo-config('custom.ui.page.incard_info_bg_block.blur')) : 2px
        background rgba(0,0,0,$info-oncover-opacity)
        if hexo-config('custom.ui.page.incard_info_bg_block.blur') != 0
          backdrop-filter: saturate(180%) blur($info-oncover-blur)
      else if hexo-config('custom.ui.page.incard_info_bg') == 'gradient'
        $info-begin-color = hexo-config('custom.ui.page.incard_info_bg_gradient.begin_color') ? convert(hexo-config('custom.ui.page.incard_info_bg_gradient.begin_color')) : #0000
        $info-end-color = hexo-config('custom.ui.page.incard_info_bg_gradient.end_color') ? convert(hexo-config('custom.ui.page.incard_info_bg_gradient.end_color')) : #000f
        background-image linear-gradient($info-begin-color, $info-end-color)
      span.page_title
        font-size 32px
        font-weight bold
        color var(--text-color)
        text-shadow: 0 0 24px #000d

      a
      i
      time
      span
        color var(--text-color)
        text-shadow: 0 0 24px #000d

  .page_info[nocover="false"] .page_info_oncover_positon_fix
    height 320px
  .page_info[nocover="true"]
    .page_cover
      background-color #0000
      height 0
    .page_info_oncover_positon_fix
      position relative
    .page_info_oncover
      position relative
      background-image none
      background none
      backdrop-filter none
      padding $block-margin + $block-padding $block-margin + $block-padding 0px $block-margin + $block-padding
      span.page_title
        color var(--text-color-r)
        text-shadow none
      a
      i
      time
      span
        color var(--text-color-r)
        text-shadow none