.main_column#page
.main_column#post
  background-color var(--global-background-color)
  if hexo-config('custom.global-blur') != 0
    backdrop-filter: saturate(180%) blur($global-blur)
  border-radius $border-radius
  box-shadow 0px 0px 1rem var(--shadow-color)
  margin-top $block-margin
  transition all 0.5s
.main_column#page:hover
.main_column#post:hover
  box-shadow 0px 0px 1rem var(--shadow-color-deep)