.main_column.page
  .post_item
    position relative
    border-radius $border-radius
    margin-bottom 16px
    transition 0.3s
    a
      display block
      height max-content
      position relative
      border-radius $border-radius
      transition 0.1s
      img.post_cover
        height 100%
        width 128px
        object-fit cover
        margin 0
        display inline-block
        position absolute
        border-radius $border-radius
      .post_info
        display inline-block
        margin 16px 16px 16px 142px
        p.post_title
          font-size 20px
          margin 0
          line-height 24px
          font-weight bold
          transition 0.1s
          color var(--text-color-r)
      time
        color var(--text-color-r)
    a:hover
    a:focus
      background alpha($main_color 25%)
      p.post_title
        font-size 22px
        line-height 26px
        color var(--main-color)