// 文章封面样式不为 banner 时生效（若有其他样式再做处理）
if hexo-config('custom.ui.post.cover_style') != 'banner'
  .main_column#post div.post_info
    position relative

  .main_column#post div.post_info div.post_cover
    width 100%
    height 20rem
    overflow hidden
    border-radius $border-radius $border-radius 0 0
    position relative
    background-color var(--main-color)
  .main_column#post div.post_info div.post_cover img
    height 100%
    width 100%
    object-fit cover

  .main_column#post div.post_info div.post_info_oncover_positon_fix
    height 20rem
    width 100%
    position absolute
    top 0px
  .main_column#post div.post_info div.post_info_oncover
    position absolute
    padding $block-margin + $block-padding
    width 100%
    bottom 0px
    box-sizing border-box
    if hexo-config('custom.ui.post.incard_info_bg') == 'block'
      $info-oncover-opacity = hexo-config('custom.ui.post.incard_info_bg_block.opacity') ? convert(hexo-config('custom.ui.post.incard_info_bg_block.opacity')) : .2
      $info-oncover-blur = hexo-config('custom.ui.post.incard_info_bg_block.blur') ? convert(hexo-config('custom.ui.post.incard_info_bg_block.blur')) : 2px
      background rgba(0,0,0,$info-oncover-opacity)
      if hexo-config('custom.ui.post.incard_info_bg_block.blur') != 0
        backdrop-filter: saturate(180%) blur($info-oncover-blur)
    else if hexo-config('custom.ui.post.incard_info_bg') == 'gradient'
      $info-begin-color = hexo-config('custom.ui.post.incard_info_bg_gradient.begin_color') ? convert(hexo-config('custom.ui.post.incard_info_bg_gradient.begin_color')) : #0000
      $info-end-color = hexo-config('custom.ui.post.incard_info_bg_gradient.end_color') ? convert(hexo-config('custom.ui.post.incard_info_bg_gradient.end_color')) : #000f
      background-image linear-gradient($info-begin-color, $info-end-color)
  .main_column#post div.post_info div.post_info_oncover span.post_title
    font-size 2rem
    font-weight bold
    color #fffe
    text-shadow: 0 0 1.5rem #000d

  .main_column#post div.post_info div.post_info_oncover a
  .main_column#post div.post_info div.post_info_oncover i
  .main_column#post div.post_info div.post_info_oncover time
  .main_column#post div.post_info div.post_info_oncover span
    color #fffe
    text-shadow: 0 0 1.5rem #000d

// 文章内容
.main_column#post article#post p
  line-height 1.3rem

//增强标题可读性
h1
  font-size 30px
h2
  font-size 26px
h3
  font-size 23px
h4
  font-size 20px
h5
  font-size 18px
h6
  font-size 18px
if hexo-config('custom.ui.post.paragraph_title_readability')
  article#post h1:before{
      content:"H1"
      font-size:25px
  }
  article#post h2:before{
      content:"H2"
      font-size:23px
  }
  article#post h3:before{
      content:"H3"
      font-size:21px
  }
  article#post h4:before{
      content:"H4"
      font-size:18px
  }
  article#post h5:before{
      content:"H5"
      font-size:16px
  }
  article#post h6:before{
      content:"H6"
      font-size:16px
  }
  article#post h1:before
  article#post h2:before
  article#post h3:before
  article#post h4:before
  article#post h5:before
  article#post h6:before
    margin-right 0.5rem
    color var(--main-color)

// 当鼠标移动到链接上时
article#post a:hover
  text-decoration underline
  text-decoration-thickness 2px

// 代码块
article#post figure.highlight figcaption
  background #1e1e1e
  color #ccc
  padding 8px 16px 0px 16px
article#post figure.highlight table
  border none
  border-spacing 0px
  width 100%
  display block
  overflow auto
article#post figure.highlight table::-webkit-scrollbar
  height 12px
  background #1e1e1e
  border 1px #3c3c3c
article#post figure.highlight:hover table::-webkit-scrollbar-thumb
  background #fff2
article#post figure.highlight table::-webkit-scrollbar-thumb:hover
  background #fff4
article#post figure.highlight span
  font-family UbuntuMono, "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif
  font-size 14px
  font-weight lighter
article#post figure.highlight table tbody tr td.code
  color #d4d4d4
  background #1e1e1e
  padding 0px 4px
  // position relative
  overflow auto
  // box-sizing border-box
  // display block
  width 100%
article#post figure.highlight table tbody tr td.gutter
  color #858585
  background #1e1e1e
  padding 0px 4px
  text-align right
  width 3ch
article#post figure.highlight table tbody span.line
  line-height 16px
// 代码高亮颜色（未完成，待完成 highlightjs 引入）
// figure.highlight.markdown
//   span.strong
//     font-weight bold
//   span.section,span.emphasis,span.bullet,span.name,span.strong
//     color #569cd6
//   span.symbol,span.string
//     color #ce9178
//   span.link
//     text-decoration underline
// figure.highlight.rust
//   span.meta,span.title,span.built_in
//     color #4ec9b0
//   span.keyword
//     color #569cd6
//   span.string
//     color #ce9178
// figure.highlight.json
//   span.attr
//     color #9cdcfe
//   span.string
//     color #ce9178
//   span.number
//     color #b5cea8
//   span.literal
//     color #569cd6
// figure.highlight.python
//   span.meta,span.title,span.built_in
//     color #dcdcaa
//   span.keyword,span.literal
//     color #569cd6
//   span.string,span.string.meta
//     color #ce9178
//   span.comment
//     color #6a9955
//   span.number
//     color #f44747
//   span.params span.number
//     color #b5cea8
// figure.highlight.html
//   span.meta,span.tag span.name,span.javascript span.function span.keyword,span.javascript span.literal
//     color #569cd6
//   span.meta span.meta-keyword, span.css span.attribute,span.tag span.attr
//     color #9cdcfe
//   span.css span.selector-tag
//     color #d7ba7d
//   span.css span.number
//     color #b5cea8
//   span.tag span.string
//     color #ce9178
//   span.javascript span.function span.title
//     color #dcdcaa
//   span.javascript span.function span.keyword
//     color #c586c0
//   span.comment
//     color #6a9955
// figure.highlight.javascript
//   span.literal, span.keyword, span.xml span.tag span.name
//     color #569cd6

// 高亮
article#post>table code
article#post>p code
  font-family UbuntuMono, "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif
  background-color #f001
  color #f44

// 按钮
article#post kbd
  border-radius: 4px;
  background: linear-gradient(145deg, #ffffff, #d6d6d6);
  box-shadow:  2px 2px 1px #626262ee,
              -2px -2px 1px #ffffffee;
  border solid 2px #0008
  font-family UbuntuMono, "PingFang SC", "Microsoft YaHei", Arial, Monaco, monospace, sans-serif
  padding 4px
  margin 0 4px

// 图片
article#post img
  max-width 100%
  margin 4px auto 4px
  display block

// 表格
article#post>table
  width 100%
article#post>table thead tr
  background-color #8884
article#post>table thead tr th
  padding 8px
article#post>table tbody
  background-color #8882
article#post>table tbody tr td
  padding 4px