.quick_btn
  position fixed
  display flex
  gap hexo-config('quick_btn.bottom_gap') ? convert(hexo-config('quick_btn.bottom_gap')) : 14px
  flex-direction column
  margin (hexo-config('quick_btn.vertical_outer_spacing') ? convert(hexo-config('quick_btn.vertical_outer_spacing')) : 14px) (hexo-config('quick_btn.horizontal_outer_spacing') ? convert(hexo-config('quick_btn.horizontal_outer_spacing')) : 14px)
  if hexo-config('quick_btn.position')=="left_center"
    top 50%
    transform translate(0, -50%)
  else if hexo-config('quick_btn.position')=="left_bottom"
    bottom 0
  else if hexo-config('quick_btn.position')=="right_center"
    top 50%
    transform translate(0, -50%)
    right 0
    align-items flex-end
  else
    bottom 0
    right 0
    align-items flex-end
  .item
    if !(hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
      display flex
      flex-direction column
      align-items flex-end
    .toc_list
      position fixed
      max-width 100vw
      bottom 0
      left 50%
      transform translate(-50%, 110%)
      transition .1s
      padding $block-padding $block-padding 0 $block-padding
      background var(--bg-color)
      backdrop-filter saturate($global-saturate) blur($global-blur)
      border-radius $border-radius $border-radius 0 0
      box-shadow var(--b-shadow-lite)
      .toc
        position relative
        height 100%
        overflow-y auto
        overflow-y overlay
        --height-lim $navbar_height + 32px + $block-padding
        max-height calc(100vh - var(--height-lim))
    .toc_list.show
      transform translate(-50%, 0)
    .btn
      height hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height')) : 28px
      min-width hexo-config('quick_btn.width') ? convert(hexo-config('quick_btn.width')) : 28px
      width max-content
      display flex
      align-items center
      background: var(--bg-color)
      border-radius hexo-config('quick_btn.bottom_border_radius') ? convert(hexo-config('quick_btn.bottom_border_radius')) : $border-radius
      padding 4px
      transition .1s
      cursor pointer
      backdrop-filter saturate($global-saturate) blur($global-blur)
      if !(hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
        flex-direction row-reverse
      .item_name
        font-size 0
        transition .1s
        color var(--text-color)
      i
        color var(--text-color-r)
        font-size (hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height')) : 28px) - 8px
        width (hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height')) : 28px) - 8px
        text-align center
        margin 0 (((hexo-config('quick_btn.width') ? convert(hexo-config('quick_btn.width')) : 28px) - ((hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height')) : 28px) - 8px)) / 2)
        transition .1s
    .sub_items
      display flex
      margin-top hexo-config('quick_btn.bottom_gap') ? convert(hexo-config('quick_btn.bottom_gap')) : 14px
      gap hexo-config('quick_btn.bottom_gap') ? convert(hexo-config('quick_btn.bottom_gap')) : 14px
      flex-direction column
      if (hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
        left -1000%
      else
        right -1000%
      height 0px
      position relative
      transition .1s ease-in-out
  .item.auto_hide
    position relative
    if (hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
      left -1000%
    else
      right -1000%
    transition .1s ease-in-out
    height 0px
  .item.hl>.btn
    --item-hover-bg var(--main-color)
    background var(--item-hover-bg)
    box-shadow var(--b-shadow-lite)
  .item.active>.btn
  .item:hover>.btn
    --item-hover-bg var(--main-color)
    background var(--item-hover-bg)
    box-shadow var(--b-shadow-m)
    .item_name
      font-size 14px
      margin 0 4px
    i
      color var(--text-color)
  .item.active>.sub_items
    if (hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
      left 0%
    else
      right 0%
    height hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height'))+8px : 36px
.quick_btn.show .item.auto_hide
  if (hexo-config('quick_btn.position')=="left_center" || hexo-config('quick_btn.position')=="left_bottom")
    left 0%
  else
    right 0%
  height hexo-config('quick_btn.height') ? convert(hexo-config('quick_btn.height'))+8px : 36px