div.recent-post-item
  display flex
  margin-top $block-margin
  height 20rem
div.recent-post-item a.post_cover_a.side
  height 100%
div.recent-post-item a.post_cover_a.side
  height 100%
  width 100%
  object-fit cover