.searchPenalBg
  position fixed
  height 100vh
  width 100vw
  background #0008
  z-index 101
  display none
.searchPenalBg.show
  display block
.closeSearch
  position absolute
  height 100vh
  width 100vw
i.close
  text-align center
  line-height 32px
  height 32px
  width 32px
  border-radius $border-radius
  cursor pointer
  transition .1s
i.close:hover
  background var(--main-color-bgh)
.searchPenal
  margin $block-margin auto
  width 600px
  background var(--bg-color)
  border-radius $border-radius
  padding $block-padding
  color var(--text-color-r)
  max-width 80vw
  if ($global-blur!=0)
    backdrop-filter blur($global-blur)
.searchInput
  width 100%
  height 30px
  background #0000
  border 0
  border-bottom 4px solid var(--main-color-bgh)
  transition .1s
.searchInput:focus
  border-bottom 4px solid var(--main-color)
  outline none
.searchResult
  width 100%
  --max-height-m $block-margin*2 + $block-padding*2 + 70px
  max-height calc(100vh - var(--max-height-m))
  overflow auto
.searchMsg
  margin-top $block-margin
  text-align center
.tag_results
  display flex
  margin 8px 0
  gap 8px
  .tag
    color var(--text-color-r)
    padding 8px
    border-radius $border-radius
    border 1px solid
    transition .1s
  .tag:hover
    border 1px solid var(--bg-color)
    background var(--bg-color)
    color var(--text-color-r)
.searchItems
  .item
    color var(--text-color-r)
    display block
    border-radius $border-radius
    padding $block-padding
    transition .1s
    .highlight
      background var(--main-color)
      color var(--text-color-on-main)
    .title
      transition .1s
      font-size 20px
    .tags
      display flex
      flex-wrap warp
      gap 8px
  .item:hover
    background var(--bg-color)
    box-shadow var(--b-shadow-lite)
    .title
      color var(--main-color)