.sidebar_items
  width 300px
  .item
    background var(--bg-color)
    border-radius $border-radius
    if hexo-config('custom.global-blur') != 0
      backdrop-filter: saturate(180%) blur($global-blur)
    transition all 0.5s
    margin-top $block-margin
    padding $block-padding
    .item_info
      padding-bottom 8px
      font-size 17px
      i
        margin-right 8px
    .content
      margin-top 8px
      font-size 15px
      display flex
      flex-direction row
      justify-content space-between
      align-items baseline
  .item:hover
    box-shadow var(--b-shadow)