.sidebar_items
  width 300px
  font-size 15px
  height 100%
  .item
    background var(--bg-color)
    border-radius $border-radius
    if hexo-config('global-blur') != 0
      backdrop-filter: saturate(180%) blur($global-blur)
    transition all 0.5s
    margin-top $block-margin
    padding $block-padding
    .item_info
      padding-bottom 8px
      font-size 16px
      cursor default
      i
        margin-right 8px
    .text
      margin-top 8px
    .info
      margin-top 8px
      display flex
      flex-direction row
      justify-content space-between
      align-items baseline
    .button
      margin-top 8px
      .search
      a
        display block
        width 100%
        text-align center
        height 34px
        background var(--main-color-bgh)
        color var(--text-color-r)
        line-height 34px
        transition .2s
        border-radius $border-radius
        cursor pointer
        i
          margin-right 4px
      .search:hover
      a:hover
        background var(--main-color)
        color var(--text-color)
    .avatar
      margin-top 8px
      img
        margin 0 auto 0
        display block
        max-height 100px
        max-width 100px
      .round
        border-radius 100px
    .author_name
      margin-top 8px
      text-align center
      font-size 22px
      font-weight bold
    .social_link
      margin-top 8px
      text-align center
      i
        font-size 24px
        color var(--text-color-r)
        transition .1s
      a:hover i
        color var(--main-color)
        animation social_icon .4s ease-in-out
    .newest_posts
      margin-top 8px
      .post_item
        position relative
        border-radius $border-radius
        margin-bottom 8px
        transition 0.3s
        a
          display block
          height max-content
          position relative
          border-radius $border-radius
          transition 0.1s
          overflow hidden
          img.post_cover
            height 100%
            width 77px
            object-fit cover
            margin 0
            display inline-block
            position absolute
            border-radius $border-radius
          .post_info
            display inline-block
            margin 16px 16px 16px 85px
            p.post_title
              font-size 16px
              margin 0
              line-height 18px
              font-weight bold
              transition 0.1s
              color var(--text-color-r)
              -webkit-line-clamp 2
          time
            color var(--text-color-r)
        a:hover
        a:focus
          background alpha($main_color 25%)
          p.post_title
            font-size 18px
            line-height 20px
            color var(--main-color)
    .tag_cloud
      margin-top 8px
      overflow hidden
      a
        transition .1s
      a:hover
        text-decoration underline 2px
    .categoriesList
      margin-top 8px
      .category-list
        list-style-type none
        margin 0
        padding 0
        .category-list-item
          display flex
          flex-direction row
          justify-content space-between
          align-items baseline
          line-height 21px
          border-radius $border-radius
          transition .1s
          a
            color var(--text-color-r)
            padding 8px
            font-weight bold
            width 100%
            transition .1s
            display flex
            justify-content space-between
          a:hover
            color var(--main-color)
            font-size 18px
        .category-list-item:hover
          background var(--main-color-bgh)
    .act_statistics
      display flex
      justify-content space-around
      margin-top 8px
      .act_item
        padding 8px
        display block
        color var(--text-color-r)
        text-align center
        transition .1s
      .act_item:hover
        color var(--main-color)
    .toc
      margin 8px 0 0 0
      padding 0
      if hexo-config('navbar.auto_folding')
        --toc-max-height $block-margin*2 + $block-padding*2 + 36px
      else
        --toc-max-height $block-margin*2 + $block-padding*2 + $navbar_height + 36px
      max-height calc(100vh - var(--toc-max-height))
      overflow auto
      overflow overlay
      li::marker
        color #0000
      .toc-child
        border-left 2px solid var(--text-color-ro)
      ol
        margin-left 16px
        padding 0
      .toc-link
        display block
        line-height 28px
        color var(--text-color-r)
        padding 0 8px
        transition .1s
        cursor pointer
      .active
      .toc-link:hover
        background var(--main-color)
        color var(--text-color)
    .search_penal
      margin-top 8px
      .s_in
        width 100%
        height 30px
        background #0000
        border 0
        border-bottom 4px solid var(--main-color-bgh)
        transition .1s
      .s_in:focus
        border-bottom 4px solid var(--main-color)
        outline none
      .s_result
        width 100%
        --max-height-m $block-margin*2 + $block-padding*2 + 352px
        max-height calc(100vh - var(--max-height-m))
        overflow auto
      .s_msg
        margin-top $block-margin
        text-align center
      .s_items
        .item
          color var(--text-color-r)
          display block
          border-radius $border-radius
          padding $block-padding
          transition .1s
          background #0000
          .title
            transition .1s
            font-size 20px
        .item:hover
          background var(--bg-color)
          box-shadow var(--b-shadow-lite)
  .item:hover
    box-shadow var(--b-shadow)
  .sticky_items
    position sticky
    if hexo-config('navbar.auto_folding')
      top $block-margin
    else
      top $block-margin + $navbar_height
@media screen and (max-width: 840px)
  .onlyPC
    display none
@media screen and (min-width: 841px)
  .onlyMbl
    display none