if hexo-config('skip_to_content_buttom')
  .skip
    position fixed
    display block
    z-index 101
    height $navbar_height
    line-height $navbar_height
    transform translateY(-100%)
    width 100vw
    text-align center
    background var(--bg-color)
    white-space nowrap
  .skip:focus
    transform translateY(0)