.toc
  padding 0
  li::marker
    color #0000
  .toc-child
    border-left 2px solid var(--text-color-ro)
  ol
    margin-left 16px
    padding 0
  .toc-link
    display block
    line-height 28px
    color var(--text-color-r)
    padding 0 8px
    transition .1s
    cursor pointer
  .active
  .toc-link:hover
    background var(--main-color)
    color var(--text-color-on-main)